@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
/* 전체 레이아웃 */
.container {
  width: 1200px;
  height: 900px;
  margin: 100px auto;
  /* background-color: antiquewhite; */
}
/* 상단 */
.header {
  width: 100%;
  height: 100px;
  /* background-color: aquamarine; */
}
/* 로고 */
.header .logo {
  width: 200px;
  height: 50px;
  background-color: #9ad0e6;
  float: left;
  margin: 20px;
}
.header .logo h2 {
  color: #fff;
  line-height: 50px;
  text-align: center;
}
/* 메뉴 */
.menu ul {
  float: right;
  background-color: #cbcbcb;
  margin: 20px;
}
.menu ul li {
  float: left;
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  /* font: bold 16px "arial"; */
}
.menu ul li a {
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
/* 메뉴 호버 */
.menu ul li:hover {
  background-color: #333;
}
.menu ul li:hover a {
  color: #fff;
}
/* 메인 */
.main {
  width: 100%;
  height: 700px;
  background-color: rgb(235, 170, 135);
}
/* 메인 상단 */
.main .main_top {
  width: 100%;
  height: 400px;
  position: relative;
}
.main_top h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  padding: 15px;
}
.main .main_top img {
  width: 100%;
  height: 100%;
}
/* 메인 하단 */
.main .main_bottom {
  width: 100%;
  height: 300px;
}
/* 메인 하단 왼쪽 */
.main .main_bottom .bottom_left {
  width: calc(100% / 3);
  height: 100%;
  background-color: #e4e4e4;
  float: left;
}
/* 공지사항 메뉴 */
.main .main_bottom .bottom_left h3 {
  width: 100px;
  height: 50px;
  background-color: #cbcbcb;
  text-align: center;
  line-height: 50px;
}
/* 공지사항 세부내용 */
.main .main_bottom .bottom_left .announcement .date {
  padding: 10px;
}
.date {
  float: left;
}
.text::after {
  content: "";
  margin: 0 100px;
}
.main .main_bottom .bottom_left .announcement ul li {
  /* background-color: #fff; */
  padding: 15px 5px;
}
.main .main_bottom .bottom_left .announcement ul li:nth-child(2n) {
  background-color: #fff;
}

/* 메인 하단 가운데 */
.main .main_bottom .bottom_center {
  width: calc(100% / 3);
  height: 100%;
  float: left;
  background-color: white;
}
.main .main_bottom .bottom_center h3 {
  width: 100px;
  height: 50px;
  background-color: #cbcbcb;
  text-align: center;
  line-height: 50px;
}
/* .main .main_bottom 생략 */
.bottom_center .gallery ul {
  /* display: block; */
  /* margin: 20px 80px; */
  margin-left: 25px;
}
.bottom_center .gallery ul li {
  float: left;
}
.bottom_center .gallery ul li a img {
  width: 90px;
  height: 110px;
  margin-top: 40px;
  margin-right: 40px;
}
.bottom_center .gallery ul li:last-child a img {
  margin-right: 0;
}
/* 메인 하단 오른쪽 */
.main .main_bottom .bottom_right {
  width: calc(100% / 3);
  height: 100%;
  float: left;
}
/* 배너 */
.banner {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.banner h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  padding: 15px;
}
.banner a {
  width: 100%;
  height: 300px;
}
.banner a img {
  display: block;
  width: 115%;
  /* height: 100%; */
}
/* 하단 */
.footer {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #ededed;
}
/* 하단 왼쪽 */
.footer .footer_left{
  width: calc(100% / 3);
  height: 100px;
}
.footer .footer_left .footer_logo{
    width: 200px;
  height: 50px;
  background-color: #777777;
  float: left;
  margin: 20px;
}
.footer .footer_left .footer_logo h2{
  color: #fff;
  line-height: 50px;
  text-align: center;
}
/* 하단 가운데 */
.footer .footer_center{
  position: relative;
  width: calc(100% / 3);
  height: 100px;
}
.footer_center p{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  transform: translate(-50% , -50%);
}
/* 하단 오른쪽 */
.footer .footer_right{
  position: relative;
  width: calc(100% / 3);
  height: 100px;
}
.footer_right p{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 22px;
  text-align: center;
  transform: translate(-30% , -50%);
}
